body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #333;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 100;
    padding: 2rem 3rem;
    max-width: 450px;
    margin: auto;
}

h1 {
    background-color: aquamarine;
    color: #333;
    padding: 1rem;
    text-align: center;;
}

input {
    padding: 1em;
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 32px;
    color: aliceblue;
}

input:focus {
    background-color: rgba(245, 249, 36, 0.147);
    transition-duration: .5s;
}
button {
    background-color: aquamarine;
    padding: 1em 3em;
    max-width: 50%;
    margin: auto;
    border: none;
    border-radius: 25px;
    transition-duration: .5s;
    margin-top: 1rem;
}

button:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 249, 36, 0.147);
    background-color: rgb(245, 249, 36);
}
label {
    color: aliceblue;
    text-align: center;
}
h2 {
    color: aquamarine;
    text-align: center;
}
